html {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  color: #616161;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  margin: 25px 0;
  text-align: left;
}

h2 {
  margin: 20px 0;
  text-align: left;
}

h3 {
  margin: 18px 0;
  text-align: left;
}

h1,
h2 {
  color: #9ba747;
}

p {
  margin: 16px 0;
  text-align: left;
}

ul {
  text-align: left;
  padding: 0;
}

li {
  margin: 5px 0;
}

li span {
  display: inline-block;
}

a {
  color: #f29d4b;
}

a:hover {
  opacity: 0.75;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #616161;
    color: #fff;
  }
}

footer {
  margin-top: auto;
  width: 100%;
}

footer p {
  text-align: center;
  margin: 36px 0px 0px;
}
