@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-lg;
    font-family: sans-serif;
    font-weight: 700;
    background-color: #fff;
    color: #616161;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      background-color: #616161;
      color: #fff;
    }
  }

  h1 {
    @apply text-4xl mb-6;
  }

  h2 {
    @apply text-3xl mb-5;
  }

  h3 {
    @apply text-2xl mb-4;
  }

  a:hover {
    opacity: 0.75;
  }

  footer {
    @apply text-center;
  }
}
