.dark {
  background-color: #616161;
  color: #fff;
  transition-property: background-color, color;
  transition-duration: 1s;
}

.dark a {
  transition-property: background-color, color;
  transition-duration: 1s;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #616161;
  transition-property: background-color, color;
  transition-duration: 1s;
}

.light a {
  transition-property: background-color, color;
  transition-duration: 1s;
  color: #616161;
}

.modeSwitchButton {
  bottom: 30px;
  right: 30px;
}

.location-button {
  bottom: 105px;
  right: 30px;
}

.floatingButton {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px black;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
}

.floatingButtonIcon {
  width: 60%;
  height: 60%;
  font-size: 30px;
}

.related-logo {
  vertical-align: middle;
  margin-right: 8px;
}
